.container{
  display: flex;
  gap: 100px;
  align-items: center;
}

.heroItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.heroBtn{
  align-self: flex-start;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: max-content;
  background-color: #53c28b;
}

.title{
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc{
  font-size: 24px;
  font-weight: 300;
}



.heroImage{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
